In [1]:
import numpy as np
import pandas as pd

In [22]:
df=pd.read_csv('mercedesbenz.csv', usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [23]:
## Find the labels

for cols in df.columns:
    print(cols, ':', len(df[cols].unique()), 'labels')

X1 : 27 labels
X2 : 44 labels

In [24]:
## Find the dummy variables

pd.get_dummies(df,drop_first=True).shape

(4209, 69)

In [25]:
## Find most frequent labels

df.X2.value_counts().head(10)

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
Name: X2, dtype: int64

In [26]:
## Convert into Dictionary

df_frequency_map = df.X2.value_counts().to_dict() 
df_frequency_map

{'a': 47,
 'aa': 1,
 'ac': 13,
 'ae': 496,
 'af': 1,
 'ag': 19,
 'ah': 4,
 'ai': 415,
 'ak': 265,
 'al': 5,
 'am': 1,
 'an': 5,
 'ao': 20,
 'ap': 11,
 'aq': 63,
 'ar': 1,
 'as': 1659,
 'at': 6,
 'au': 3,
 'av': 4,
 'aw': 8,
 'ay': 54,
 'b': 21,
 'c': 1,
 'd': 18,
 'e': 81,
 'f': 87,
 'g': 12,
 'h': 6,
 'i': 25,
 'j': 1,
 'k': 25,
 'l': 1,
 'm': 367,
 'n': 137,
 'o': 1,
 'p': 4,
 'q': 5,
 'r': 153,
 's': 94,
 't': 29,
 'x': 10,
 'y': 11,
 'z': 19}

In [27]:
## Repalce the X2 labels in the dataset

df.X2 = df.X2.map(df_frequency_map)
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137