In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4), index=['Row 1', 'Row 2', 'Row 3', 'Row 4', 'Row 5'], columns=['Column 1', 'Column 2', 'Column 3', 'Column 4'])

In [5]:
df.head()

       Column 1  Column 2  Column 3  Column 4
Row 1         0         1         2         3
Row 2         4         5         6         7
Row 3         8         9        10        11
Row 4        12        13        14        15
Row 5        16        17        18        19

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
##To convert the data into CSV

df.to_csv('Test.csv')

In [8]:
#Accessing the element
## We can access the element by 2 methods - i) .loc   ii) .iloc

df.loc['Row 1']

Column 1    0
Column 2    1
Column 3    2
Column 4    3
Name: Row 1, dtype: int32

In [9]:
type(df.loc['Row 1'])

pandas.core.series.Series

In [12]:
## .iloc is same as array in numpy. That is, it basically used to access the data with respect to rows and columns.

df.iloc[:,:]

       Column 1  Column 2  Column 3  Column 4
Row 1         0         1         2         3
Row 2         4         5         6         7
Row 3         8         9        10        11
Row 4        12        13        14        15
Row 5        16        17        18        19

In [17]:
df.iloc[1:3,1:4]

       Column 2  Column 3  Column 4
Row 2         5         6         7
Row 3         9        10        11

In [18]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [19]:
df['Column 1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column 1, dtype: int64